{% if template contains 'page' and page.url == '/pages/rustic-geometric-arch' or page.url ==
'/pages/tropical-geometric-arch'%}
<form class="border-box__form">
    <select name="search_type" id="price-dropdown-select">
        <option disabled="disabled" selected="selected" value="">Click To Select Your Location</option>
        <option value="$2345.00">Clearwater & St. Petersburg Beach</option>
        <option value="$2195.00">Cocoa & Port Canaveral Beach</option>
        <option value="$2195.00">St. Augustine & Jacksonville Beach</option>
        <option value="$2745.00">Miami & Ft. Lauderdale Beach</option>
        <option value="$2345.00">Siesta Key & Lido Beach</option>
        <option value="$2195.00">Daytona, Ponce Inlet & New Smyrna Beach</option>
        <option value="$2745.00">Destin & Panama City Beach</option>
        <option value="$2745.00">Fort Myers</option>
    </select>
    <span id="package-price" class="border-box__amount"></span>
</form>
{% endif%}

{% if template contains 'page' and page.url == '/pages/rustic-romance-package' or page.url ==
'/pages/tropical-distinctive-design-package' or page.url ==
'/pages/floral-distinctive-design-package' or page.url ==
'/pages/teal-distinctive-design-package' or page.url ==
'/pages/anchors-away-distinctive-design-package' or page.url ==
'/pages/classic-distinctive-design-package' or page.url ==
'/pages/coral-distinctive-design-package' or page.url ==
'/pages/natural-distinctive-design-package' or page.url ==
'/pages/dusty-blue-distinctive-design-package' or page.url ==
'/pages/beach-bliss-distinctive-design-package' or page.url ==
'/pages/starfish-distinctive-design-package'%}
<form class="border-box__form">
    <select name="search_type" id="price-dropdown-select">
        <option disabled="disabled" selected="selected" value="">Click To Select Your Location</option>
        <option value="$2195.00">Clearwater & St. Petersburg Beach</option>
        <option value="$1995.00">Cocoa & Port Canaveral Beach</option>
        <option value="$1995.00">St. Augustine & Jacksonville Beach</option>
        <option value="$2450.00">Miami & Ft. Lauderdale Beach</option>
        <option value="$2195.00">Siesta Key & Lido Beach</option>
        <option value="$1995.00">Daytona, Ponce Inlet & New Smyrna Beach</option>
        <option value="$2450.00">Destin & Panama City Beach</option>
        <option value="$2450.00">Fort Myers</option>
    </select>
    <span id="package-price" class="border-box__amount"></span>
</form>
{% endif%}

{% if template contains 'page' and page.url == '/pages/florida-destiny-package'%}
<form class="border-box__form">
    <select name="search_type" id="price-dropdown-select">
        <option disabled="disabled" selected="selected" value="">Click To Select Your Location</option>
        <option value="$2345.00">Clearwater & St. Petersburg Beach</option>
        <option value="$2295.00">Cocoa & Port Canaveral Beach</option>
        <option value="$2295.00">St. Augustine & Jacksonville Beach</option>
        <option value="$2645.00">Miami & Ft. Lauderdale Beach</option>
        <option value="$2345.00">Siesta Key & Lido Beach</option>
        <option value="$2295.00">Daytona, Ponce Inlet & New Smyrna Beach</option>
        <option value="$2645.00">Destin & Panama City Beach</option>
        <option value="$2645.00">Fort Myers</option>
    </select>
    <span id="package-price" class="border-box__amount"></span>
</form>
{% endif%}

{% if template contains 'page' and page.url == '/pages/florida-nautical-knot-package'%}
<form class="border-box__form">
    <select name="search_type" id="price-dropdown-select">
        <option disabled="disabled" selected="selected" value="">Click To Select Your Location</option>
        <option value="$1475.00">Clearwater & St. Petersburg Beach</option>
        <option value="$1425.00">Cocoa & Port Canaveral Beach</option>
        <option value="$1425.00">St. Augustine & Jacksonville Beach</option>
        <option value="$1795.00">Miami & Ft. Lauderdale Beach</option>
        <option value="$1475.00">Siesta Key & Lido Beach</option>
        <option value="$1425.00">Daytona, Ponce Inlet & New Smyrna Beach</option>
        <option value="$1795.00">Destin & Panama City Beach</option>
        <option value="$1520.00">Fort Myers</option>
    </select>
    <span id="package-price" class="border-box__amount"></span>
</form>
{% endif%}

{% if template contains 'page' and page.url == '/pages/florida-beach-beginnings-package'%}
<p class="border-box__title">MONDAY – THURSDAY PACKAGE COST</p>
<form class="border-box__form">
    <select name="search_type" id="price-dropdown-select">
        <option disabled="disabled" selected="selected" value="">Click To Select Your Location</option>
        <option value="$1450.00">Clearwater & St. Petersburg Beach</option>
        <option value="$1375.00">Cocoa & Port Canaveral Beach</option>
        <option value="$1375.00">St. Augustine & Jacksonville Beach</option>
        <option value="$1695.00">Miami & Ft. Lauderdale Beach</option>
        <option value="$1450.00">Siesta Key & Lido Beach</option>
        <option value="$1375.00">Daytona, Ponce Inlet & New Smyrna Beach</option>
        <option value="$1695.00">Destin & Panama City Beach</option>
        <option value="$1695.00">Fort Myers</option>
    </select>
    <span id="package-price" class="border-box__amount"></span>
</form>
{% endif%}

{% if template contains 'page' and page.url == '/pages/natural-simply-florida-package'%}
<p class="border-box__title">MONDAY – THURSDAY PACKAGE COST</p>
<form class="border-box__form">
    <select name="search_type" id="price-dropdown-select">
        <option disabled="disabled" selected="selected" value="">Click To Select Your Location</option>
        <option value="$1199.00">Clearwater & St. Petersburg Beach</option>
        <option value="$999.00">Cocoa & Port Canaveral Beach</option>
        <option value="$999.00">St. Augustine & Jacksonville Beach</option>
        <option value="$1549.00">Miami & Ft. Lauderdale Beach</option>
        <option value="$1199.00">Siesta Key & Lido Beach</option>
        <option value="$999.00">Daytona, Ponce Inlet & New Smyrna Beach</option>
        <option value="$1549.00">Destin & Panama City Beach</option>
        <option value="$1549.00">Fort Myers</option>
    </select>
    <span id="package-price" class="border-box__amount"></span>
</form>
{% endif%}

{% if template contains 'page' and page.url == '/pages/natural-elopement-package' or page.url ==
'/pages/tropical-florida-elopement-package'%}
<p class="border-box__title">MONDAY – THURSDAY PACKAGE COST</p>
<form class="border-box__form">
    <select name="search_type" id="price-dropdown-select">
        <option disabled="disabled" selected="selected" value="">Click To Select Your Location</option>
        <option value="$1299.00">Clearwater & St. Petersburg Beach</option>
        <option value="$1099.00">Cocoa & Port Canaveral Beach</option>
        <option value="$1099.00">St. Augustine & Jacksonville Beach</option>
        <option value="$1649.00">Miami & Ft. Lauderdale Beach</option>
        <option value="$1299.00">Siesta Key & Lido Beach</option>
        <option value="$1649.00">Fort Myers</option>
        <option value="$1649">Destin</option>
    </select>
    <span id="package-price" class="border-box__amount"></span>
</form>
{% endif%}

{% if template contains 'page' and page.url == '/pages/florida-heart-in-the-sand'%}
<p class="border-box__title">AVAILABLE MONDAY - THURSDAY ONLY</p>
<form class="border-box__form">
    <select name="search_type" id="price-dropdown-select">
        <option disabled="disabled" selected="selected" value="">Click To Select Your Location</option>
        <option value="$749.00">Daytona Beach</option>
        <option value="$899.00">Siesta Key/Clearwater</option>
    </select>
    <span id="package-price" class="border-box__amount"></span>
</form>
{% endif%}

<!-- Javascript for dropdown -->

<script type="text/javascript">
    const priceDropdownSelect = document.getElementById('price-dropdown-select');

    priceDropdownSelect.addEventListener('change', (event) => {
        const packagePrice = document.getElementById('package-price');
        packagePrice.innerHTML = `<h4 class="package-child-page__package-cost">Package Cost</h4>` + event.target.value;
    });
</script>