{% comment %}
  The contents of the article.liquid template can be found in /sections/article-template.liquid
{% endcomment %}

<div class="rte blog-article-page grid grid-limit">
  {% section 'article-template' %}
</div>
