{% comment %}
  The contents of the blog.liquid template can be found in /sections/blog-template.liquid
{% endcomment %}

<div class="rte blog-page grid grid-limit">
    {% section 'blog-template' %}
</div>
