<div class="rte package-child-page">
    <section class="package-child-page__block package-child-page__block--tan">
        <div class="grid grid-limit">

            <div class="grid__item post-large--two-thirds">
                <h2 class="package-child-page__heading">{{page.metafields.location.location-name}}</h2>
                <div class="package-child-page__subheading">
                    {{ page.content }}
                </div>
                <div class="package-child-page__image">
                    <img src="https://placehold.it/600x300" />
                </div>
            </div>

            <div class="grid__item post-large--one-third">
                <h4 class="package-child-page__list-heading">More Locations</h4>
                <div class="package-child-page__list">
                    <div class="package-child-page__list-item">
                        <a href="">Location Name</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="grid grid-limit">
            <div class="grid__item">
                {% if page.metafields.child-package.video-url %}
                <iframe width="1080" height="608" src="{{ page.metafields.child-package.video-url}}" frameborder="0"
                    allowfullscreen=""></iframe>
                {% endif%}
            </div>
        </div>
    </section>
</div>