<div class="rte faqs-page">
  <div class="grid grid-limit">

    <div class="beach-wedding-blurb">
        <div class="beach-wedding-blurb__container">
            <div class="beach-wedding-blurb__content">
                {% if page.metafields.faqs.faqs-blurb-heading %}
                <h2 class="beach-wedding-blurb__subheading">{{page.metafields.faqs.faqs-blurb-heading}}</h2>
                {% endif%}
                {% if page.metafields.faqs.faq-blurb-text %}
                <p class="beach-wedding-blurb__text">{{page.metafields.faqs.faq-blurb-text}}</p>
                {% endif%}
            </div>
        </div>
    </div>

<div class="grid grid-limit">
  <div class="faqs__images">
    <img src="https://floridabeachweddings.com/wp-content/uploads/2020/01/CouplesChoice2020small.png" alt="">
    <img src="https://floridabeachweddings.com/wp-content/uploads/2020/03/NGWA-2020-Associate-Member.png" style="height: 180px;" alt="">
  </div>
</div>

    <div class="faqs__questions">
      {% for faq in page.metafields.faqs.question %}
        {% if page.metafields.faqs.question %}
          <button class="accordion">{{page.metafields.faqs.question[forloop.index0]}}</button>
        {% endif%}

        {% if page.metafields.faqs.answer %}
          <div class="panel">
            <p>{{page.metafields.faqs.answer[forloop.index0]}}</p>
          </div>
        {% endif%}
      {% endfor%}
    </div>
  </div>
</div>

<script>
let accordion = document.getElementsByClassName("accordion");
let i;

for (i = 0; i < accordion.length; i++) {
  accordion[i].addEventListener("click", function() {
    this.classList.toggle("active");

    let question = this.nextElementSibling;
    if (question.style.display === "block") {
      question.style.display = "none";
    } else {
      question.style.display = "block";
    }
  });
}
</script>
