<div class="rte faqs-page">
  <div class="grid grid-limit">

    <div class="beach-wedding-blurb">
      <div class="beach-wedding-blurb__container">
        <div class="beach-wedding-blurb__content">
          {% if page.metafields.faqs.faqs-blurb-heading %}
          <h2 class="beach-wedding-blurb__subheading">{{page.metafields.faqs.faqs-blurb-heading}}</h2>
          {% endif%}
          {% if page.metafields.faqs.faq-blurb-text %}
          <p class="beach-wedding-blurb__text">{{page.metafields.faqs.faq-blurb-text}}</p>
          {% endif%}
        </div>
      </div>
    </div>

    <div class="grid grid-limit">
      <div class="faqs__images">
        <img src="https://floridabeachweddings.com/wp-content/uploads/2020/01/CouplesChoice2020small.png" alt="">
        <img src="https://floridabeachweddings.com/wp-content/uploads/2020/03/NGWA-2020-Associate-Member.png"
          style="height: 180px;" alt="">
      </div>
    </div>

    <ul class="accordion">
      {% for faq in page.metafields.faqs.question %}
      <li>
        <a class="toggle" href="#">{{page.metafields.faqs.question[forloop.index0]}}</a>
        <ul class="inner">
          <li>{{page.metafields.faqs.answer[forloop.index0]}}</li>
        </ul>
      </li>
      {% endfor%}
    </ul>
  </div>
</div>

<!-- Javascript -->

<script>
  $('.toggle').click(function (e) {
    e.preventDefault();

    var $this = $(this);

    if ($this.next().hasClass('show')) {
      $this.next().removeClass('show');
    } else {
      $this.parent().find('li .inner').removeClass('show');
      $this.next().slideToggle(350);
    }
  });
</script>